<header>
    <nav>
        <ul>
            <li><a href="/" class="nav-link" id="home">Home</a></li>
            <li><a href="/new" class="nav-link" id="new">New Post</a></li>
        </ul>
    </nav>
</header>