<link rel="stylesheet" href="/Styles/post.css">

<%- include('../partials/header') %>

    <main class="container">
        <div class="post">
            <h1>
                <%= post.title %>
            </h1>
            <p>
                <%= post.content %>
            </p>
            <a href="/">Back to Home</a>
        </div>
        <div class="view">

        </div>
    </main>

    <%- include('../partials/footer') %>