.nav-link[aria-current="page"] {
    text-decoration: underline wavy #e8491d 0.1rem;
    text-underline-offset: 0.2rem;
}

/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
    background: lightgray;
    /* border: 1px solid gray; */
}

a {
    margin: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.post {
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #35424a;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.view {
    margin: 15px;
    padding: 20px;
    color: #ffffff;
    width: 100%;
}


footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    header nav ul li a {
        display: block;
        padding: 10px;
    }

    footer {
        position: static;
    }
}