.nav-link[aria-current="page"] {
    text-decoration: underline wavy gray 0.1rem;
    text-underline-offset: 0.2rem;
}

/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    border-bottom: #e8491d 3px solid;
}

header nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
    background: #e8491d;
    border: 1px solid #e8491d;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
    color: #35424a;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    display: inline-block;
    padding: 10px 20px;
    background: #35424a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

form button:hover {
    background: #e8491d;
}

footer {
    text-align: center;
    padding: 20px;
    background: #35424a;
    color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    header nav ul li a {
        display: block;
        padding: 10px;
    }

    footer {
        position: static;
    }
}